# Xcode
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Build artifacts
.build/
DerivedData/
*.o
*.swp
*.lock

# Swift Package Manager
Packages/
.swiftpm/
.build/

# Scheme files (если не хотите коммитить кастомные схемы)
*.xcscheme
xcshareddata/

# Temporary files
*.DS_Store
*.tmp
*.swp
*~.nib
*~.storyboardc
